.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
  
  #signup-form {
      width: 25%;
      margin: 0 auto;
  }
  
  #signup-form  h1 {
      font-weight: normal;
      margin-bottom: 2rem;
  }

  .form-labels{
    text-align: left;
  }
      